header {
    display: flex;
    color: white;
    background-color: #3a3a3a;
    justify-content: center;
}

h1 {
    font-size: 30px;
    padding: 10px 10px;
}

.search-btn {
    color: white;
    background-color: #5aa6f7;
}

#uv-data {
    display: inline-block;
}

.favorable {
    color: white;
    background-color: lightgreen;
    padding: 10px;
}

.moderate {
    color: white;
    background-color: orange;
    padding: 10px;
}

.severe {
    color: white;
    background-color: red;
    padding: 10px;
}

